.mehrspaltig {
  display: flex;
}

.Upload.from.explorer {
  margin-top: 2em;
}

.dropzone {
  border: 1px dashed black;
  height: 200px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropzone span {
  margin: auto 0;
}
.generateButton {
  margin-top: 2em;
}
