<!-- <div>
  <mat-stepper orientation="vertical" #stepper>
    <mat-step>
      <form>
        <mat-grid-list cols="4" rowHeight="2:1">
          <mat-grid-tile colspan="3">
            <ng-template matStepLabel>Insert your Text</ng-template>
            <mat-form-field appearance="fill" [style.width.%]="80">
              <mat-label>Enter Text to Transform</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="100"
                id="text-input"
              ></textarea>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <input type="file" accept=".doc,.docx,.txt,.rtf,.md" />
          </mat-grid-tile>
        </mat-grid-list>
        <div class="center">
          <button class="card card-small green" mat-button matStepperNext>
            Convert
          </button>
        </div>
      </form>
    </mat-step>
    <p>{{ warningText }}</p>
    <mat-step>
      <form>
      <ng-template matStepLabel>Select your type of Output</ng-template>
      <h4>Choose your kind of Output</h4>
   <mat-label>Kind of Model</mat-label>
        <mat-select>
          <mat-option value="BPMN">BPMN</mat-option>
          <mat-option value="Petri-Netz">Petri-Netz</mat-option>
        </mat-select>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

    </form>
    </mat-step>
    <mat-step>
      <form>
      <ng-template matStepLabel>Process (Done)</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button>Download Process as .png</button>
      </div>
    </form>
    </mat-step>
  </mat-stepper>
</div> -->

<mat-vertical-stepper [linear]="false" #stepper [animationDuration]="200">
  <mat-step>
    <form>
      <ng-template matStepLabel>Explenation</ng-template>
      <p>
        <b>What is T2P?</b> <br />
        The process-to-text approach in the context of Business Process
        Management (BPM) and Natural Language Processing (NLP) refers to the
        automatic generation of text descriptions or documentations of business
        processes. Using BPM techniques and NLP algorithms, process models can
        be analyzed and translated into natural language. This allows the
        creation of detailed descriptions of processes that can be used for
        various purposes, such as training documentation, user documentation, or
        compliance reports.
      </p>

    </form>
    <button mat-button matStepperNext class="card">Next</button>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Insert your Text</ng-template>
      <mat-grid-list cols="4" rowHeight="2:1">
        <mat-grid-tile colspan="3">
          <ng-template matStepLabel>Text</ng-template>
          <mat-form-field appearance="fill" [style.width.%]="80">
            <mat-label>Enter Text to Transform</mat-label>
            <div>
              <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="100"
                id="text-input"
                required
              ></textarea>
            </div>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <input type="file" accept=".doc,.docx,.txt,.rtf,.md" />
        </mat-grid-tile>
      </mat-grid-list>
      <div>
        <button mat-button matStepperNext class="card card-small green">
          Next
        </button>
        <button mat-button matStepperPrevious class="card">Back</button>
      </div>
    </form>
  </mat-step>
  <!-- <mat-step>

    <form>
      <ng-template matStepLabel>Select your type of Output</ng-template>
      <h4>Choose your kind of Output</h4>
      <mat-label>Kind of Model</mat-label>
      <mat-select>
        <mat-option value="BPMN">BPMN</mat-option>
        <mat-option value="Petri-Netz">Petri-Netz</mat-option>
      </mat-select>

      <div>
        <input type="file" accept=".doc,.docx,.txt,.rtf,.md" required />
      </div>
      <div>
        <button mat-button matStepperPrevious class="card">Back</button>
        <button mat-button matStepperNext class="card">Next</button>
      </div>
    </form>
  </mat-step> -->

  <mat-step>
    <form>
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <!-- <input> -->

        <input
          matInput
          placeholder="Last name, First name"
          formControlName="firstCtrl"
          required
        />
        <select matInput formControlName="firstCtrl" required>
          <option value="" disabled selected>
            Please enter the kind of Model
          </option>
          <option value="bpmn">BPMN</option>
          <option value="petri-net">Petri-Netz</option>
        </select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious class="card">Back</button>
        <button mat-button matStepperNext class="card">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious class="card">Back</button>
        <button mat-button class="card">Reset</button>
        <button mat-button class="card">Download Process as .png</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
