<mat-vertical-stepper [linear]="false" #stepper [animationDuration]="200">
  <mat-step>
    <form>
      <ng-template matStepLabel>Explanation</ng-template>
      <p>
        <b>What is T2P?</b> <br />
        The text-to-process approach deals with the conversion of a text test
        into a model within the framework of business process management (BPM)
        and natural language processing (NLP). With the help of various
        algorithms, the desired text can be converted either into a BPMN model
        or into a Petri net.
      </p>
    </form>
    <br />
    <button mat-button matStepperNext class="card">Next</button>
  </mat-step>
  <mat-step>
    <form>
      <ng-template matStepLabel>Insert your Text</ng-template>
      <!-- <mat-grid-list cols="4" rowHeight="2:1"> -->
      <!-- <mat-grid-tile colspan="3"> -->
      <ng-template matStepLabel>Text</ng-template>
      <mat-form-field appearance="fill" [style.width.%]="50">
        <mat-label>Enter Text to Transform </mat-label>
        <div>
          <textarea
            class="textfeld"
            [style.width.%]="100"
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="4"
            cdkAutosizeMaxRows="100"
            id="text-input"
            #modelInput
            >{{ text }}</textarea
          >
        </div>
      </mat-form-field>
      <br />
      <!-- </mat-grid-tile> -->
      <!-- <mat-grid-tile colspan="1"> -->
      <!-- <input type="file" accept=".doc,.docx,.txt,.rtf,.md,.pdf" />
          <button>Extract Text</button> -->
      <!-- </mat-grid-tile> -->
      <!-- </mat-grid-list> -->
      <div
        class="dropzone"
        #dropzoneRef
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        (click)="selectFiles()"
      >
        <input
          type="file"
          style="display: none"
          #fileInputRef
          accept=".txt"
          (change)="onFileSelected($event)"
        />
        <!--Ich war mir nicht sicher welche Dateitypen ihr akzeptiert, das könnt ihr hier einschränken-->
        <span *ngIf="isFiledDropped"
          >Hochgeladene Datei: {{ droppedFileName }}
        </span>
        <span *ngIf="!isFiledDropped"
          >Upload files via drag and drop or click into the textfield</span
        >
      </div>
      <br />
      <div>
        <button mat-button matStepperPrevious class="card">Back</button>
        <button type="button" mat-button matStepperNext class="card">
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <mat-radio-group
      aria-label="Select an option"
      (click)="onSelectedDiagram($event)"
    >
      <mat-radio-button value="bpmn">BPMN</mat-radio-button>
      <mat-radio-button value="petri-net">Petri-Netz</mat-radio-button>
    </mat-radio-group>
    <!-- <mat-radio-group
      #selectValue
      (click)="onSelectedDiagram(selectValue.value)"
      aria-label="Select an option"
    >
      <mat-radio-button name="bpmn" value="bpmn" [checked]="true"
        >BPMN</mat-radio-button
      >
      <mat-radio-button name="petri-net" value="petri-net"
        >Petri-Netz</mat-radio-button
      >
    </mat-radio-group> -->
    <!-- <mat-radio-group
  aria-labelledby="example-radio-group-label"
  [(ngModel)]="selectedDiagram">
  <mat-radio-button class="example-radio-button" *ngFor="let value of values" [value]="value">
    {{value}}
  </mat-radio-button>
</mat-radio-group> -->
    <form>
      <ng-template matStepLabel>Choose Your Model</ng-template>
      <!-- <mat-form-field> -->

      <!-- <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required /> -->
      <!-- <mat-label>Please enter the kind of Model</mat-label> -->
      <!-- <select matNativeControl required #diagram (click)="onSelectedDiagram($event)">
          <option value="bpmn">BPMN</option>
          <option value="petri-net" default>Petri-Netz</option>
        </select> -->
      <!-- <mat-form-field>
        <input matInput>

      </mat-form-field> -->
      <!-- </mat-form-field> -->
      <br />
      <div>
        <button type="button" mat-button matStepperPrevious class="card">
          Back
        </button>
        <button
          type="button"
          mat-button
          matStepperNext
          class="card"
          (click)="generateProcess(modelInput.value)"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div>
        <br />
        <button mat-button matStepperPrevious class="card">Back</button>
        <!-- <button mat-button class="card">Reset</button> -->
        <button mat-button class="card">Download Process as .png</button>
        <button (click)="onDownloadText()" class="card">
          Download Process as File
        </button>
      </div>
    </form>
    <div id="loading">
      <mat-spinner [diameter]="100" *ngIf="spinnerService.visibility | async">
      </mat-spinner>
    </div>
  </mat-step>
</mat-vertical-stepper>
<!-- Container for displaying  -->
<div>
  <!-- display input from textfield in label -->
  <label> <b>Your Input:</b> {{ textResult }}</label>
</div>
<div id="error-container">
  <p id="error-container-text"></p>
</div>
<div id="model-container"></div>
