<link rel="stylesheet" href="home.component.css" />

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="WoPeD Logo" src="../assets/woped.jpeg" />
  <h1>WoPeD</h1>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <!-- Tabs to Switch between T2P and P2T -->
  <mat-tab-group id="tab-group">
    <mat-tab label="T2P (Text-to-Process)" class="tabGroup">
      <app-t2p></app-t2p>
    </mat-tab>
    <mat-tab label="P2T (Process-to-Text)" class="tabGroup">
      <app-p2t></app-p2t>
    </mat-tab>
  </mat-tab-group>

  

  <!-- Links -->
  <div class="card-container">
   
    <a
      class="circle-link"
      title="Repository"
      href="https://github.com/woped/WoPeD"
      target="_blank"
      rel="noopener"
    >
      <svg
        alt="Angular CLI Logo"
        xmlns="http://www.w3.org/2000/svg"
        width="21.762"
        height="23.447"
        viewBox="0 0 21.762 23.447"
      >
        <g id="Group_21" data-name="Group 21" transform="translate(0)">
          <path
            id="Path_20"
            data-name="Path 20"
            d="M2660.313,313.618h0l-10.833,3.9,1.637,14.4,9.2,5.152,9.244-5.152,1.685-14.4Z"
            transform="translate(-2649.48 -313.618)"
            fill="#37474f"
          />
          <path
            id="Path_21"
            data-name="Path 21"
            d="M2741.883,313.618v23.447l9.244-5.152,1.685-14.4Z"
            transform="translate(-2731.05 -313.618)"
            fill="#263238"
          />
          <path
            id="Path_22"
            data-name="Path 22"
            d="M2692.293,379.169h11.724V368.618h-11.724Zm11.159-.6h-10.608v-9.345h10.621v9.345Z"
            transform="translate(-2687.274 -362.17)"
            fill="#fff"
          />
          <path
            id="Path_23"
            data-name="Path 23"
            d="M2709.331,393.688l.4.416,2.265-2.28-2.294-2.294-.4.4,1.893,1.893Z"
            transform="translate(-2702.289 -380.631)"
            fill="#fff"
          />
          <rect
            id="Rectangle_12"
            data-name="Rectangle 12"
            width="3.517"
            height="0.469"
            transform="translate(9.709 13.744)"
            fill="#fff"
          />
        </g>
      </svg>
    </a>
   <a class="circle-link" title="Website" href="https://woped.dhbw-karlsruhe.de/" target="_blank" rel="noopener">
            <svg alt="Angular Augury Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                width="21.81" height="23.447" viewBox="0 0 21.81 23.447">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_13" data-name="Rectangle 13" width="10.338" height="10.27" fill="none" />
                    </clipPath>
                </defs>
                <g id="Group_25" data-name="Group 25" transform="translate(0)">
                    <path id="Path_24" data-name="Path 24"
                        d="M3780.155,311.417h0l-10.881,3.9,1.637,14.4,9.244,5.152,9.244-5.152,1.685-14.4Z"
                        transform="translate(-3769.274 -311.417)" fill="#4a3493" />
                    <path id="Path_25" data-name="Path 25" d="M3862.088,311.417v23.447l9.244-5.152,1.685-14.4Z"
                        transform="translate(-3851.207 -311.417)" fill="#311b92" />
                    <g id="Group_24" data-name="Group 24" transform="translate(6.194 6.73)" opacity="0.5">
                        <g id="Group_23" data-name="Group 23" transform="translate(0 0)">
                            <g id="Group_22" data-name="Group 22" clip-path="url(#clip-path)">
                                <path id="Path_26" data-name="Path 26"
                                    d="M3832.4,373.252a5.168,5.168,0,1,1-5.828-4.383,5.216,5.216,0,0,1,2.574.3,3.017,3.017,0,1,0,3.252,4.086Z"
                                    transform="translate(-3822.107 -368.821)" fill="#fff" />
                            </g>
                        </g>
                    </g>
                    <path id="Path_27" data-name="Path 27"
                        d="M3830.582,370.848a5.162,5.162,0,1,1-3.254-4.086,3.017,3.017,0,1,0,3.252,4.086Z"
                        transform="translate(-3814.311 -359.969)" fill="#fff" />
                </g>
            </svg>
        </a>

        
  </div>
  <!-- Footer -->
  <footer>
    Love WoPeD?&nbsp;
    <a href="https://woped.dhbw-karlsruhe.de" target="_blank" rel="noopener">
      Give our repo a star.
      <div class="github-star-badge">
        <svg
          class="material-icons"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
          />
        </svg>
        Star
      </div>
    </a>
    <a href="https://github.com/angular/angular" target="_blank" rel="noopener">
      <svg
        class="material-icons"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
          fill="#1976d2"
        />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </a>
  </footer>

  <svg
    id="clouds"
    alt="Gray Clouds Background"
    xmlns="http://www.w3.org/2000/svg"
    width="2611.084"
    height="485.677"
    viewBox="0 0 2611.084 485.677"
  >
    <path
      id="Path_39"
      data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)"
      fill="#eee"
    />
  </svg>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
