name: CD Pipeline

permissions:
  contents: write
  issues: write

on:
  push:
    branches: [ main, master ]

jobs:
  semver:
    uses: woped/devops/.github/workflows/semver-and-release-notes.yaml@main
    
  approval:
    uses: woped/devops/.github/workflows/manual-approval.yaml@main
    needs: semver
    with:
      VERSION: ${{ needs.semver.outputs.VERSION }}

  gh_release:
    uses: woped/devops/.github/workflows/github-release.yaml@main
    needs: [ semver, approval ]
    with:
      VERSION: ${{ needs.semver.outputs.VERSION }}
      RELEASE_NOTES: ${{ needs.semver.outputs.RELEASE_NOTES }}

  deploy_pages:
    runs-on: ubuntu-latest
    needs: [ semver, approval ]
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      
      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        run: |
          npm ci

      - name: Deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npm run deploy
